/**
 * @file
 * Styling for the facebook likepage module.
 */

#facebook-likepage .fbspan {
  background: url('../images/logos_barrette.png') no-repeat scroll left 0;
  width: 43px;
  height: 43px;
  display: block;
  float: left;
  cursor: pointer;
  margin-bottom: 11px;/* LTR */
}

#facebook-likepage {
  position: fixed;
  right: 0;
  top: 183px;
  width: 110px;
  z-index: 30;/* LTR */
}
#facebook-likepage .fb-page {
  width: 300px;
  background-color: white;
  display: inline;
  position: absolute;
  top: 0;
  width: 300px;
  border: 1px solid #1e90c7;/* LTR */
}
.facebook-like-item {
  position: fixed;
  top: 183px;
  right: 0px;
  z-index: 999;/* LTR */
}
